.buttonDefault {
  cursor: pointer;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 20px;
  background-color: var(--primaryColor);
  color: var(--containerBackgroundColor);
}
