.circleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
  padding: 0.5em;
}

.circleContent {
  transform: rotate(-90deg);
  width: 400px;
  height: 400px;
}

.circleBackground {
}

.circle {
  transition: all 1s linear;
  border: 1px solid blue;
}

.circleWrapper h1 {
  font-weight: bold;
  color: var(--primaryColor);
  font-size: 5em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerTimer {
  max-width: 300px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerCiclos {
  max-width: 200px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ciclosImg {
  margin: 5px;
  width: 22px;
  height: 22px;
}
