:root {
  --primaryColor: #f52f5d;
  --secundaryColor: #f893a1;
  --containerBackgroundColor: #fff;
  --backgroundColor: #b9b9b9;
  --textColor: #0000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
