:root {
  --primaryColor: #f52f5d;
  --secundaryColor: #f893a1;
  --grayColor: #c9c9c9;
  --containerBackgroundColor: #fff;
  --backgroundColor: #ebebeb;
  --textColor: #0000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
