.layoutMenu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
}

.imgConfig {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: 0.5em;
}

.imgConfig img {
  width: 100%;
  height: 100%;
}

.containerConfig {
  border-radius: 10px;
  background-color: red;
  width: 200px;
  height: 400px;
  position: absolute;
  top: 60px;
  right: 5px;
  z-index: 1;
}

.containerConfig::before {
  position: absolute;
  top: -10px;
  right: 12px;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid red;
}

.contentConfig {
  width: 100%;
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  border-radius: 10px;
  background-color: green;
}

.opConfig {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.op {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  border-radius: 10px;
  padding: 0.5em;
  width: 100%;
  height: 50px;
}

.opConfig .time {
  gap: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opConfig .time input {
  width: 40px;
  border: none;
  border-bottom: 2px solid black;
}

.buttonsConfig {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  height: 60px;
}
