.layoutMenu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
}

.imgConfig {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: 0.5em;
}

.imgConfig img {
  width: 100%;
  height: 100%;
}

.containerConfig {
  background-color: #fff;
  overflow: hidden;
  width: 400px;
  height: 0;
  position: absolute;
  top: 60px;
  right: 5px;
  z-index: 1;
  border-radius: 10px;
  border: 0px solid var(--primaryColor);
  transition:
    height 0.5s ease-in,
    border 0.5s ease-in;
}

.containerConfigOpen {
  background-color: #fff;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: absolute;
  top: 60px;
  right: 5px;
  z-index: 1;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid var(--primaryColor);
  transition: height 0.5s ease-in;
}

.containerConfig::before {
  position: absolute;
  top: -10px;
  right: 12px;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--primaryColor);
}

.contentConfig {
  width: 100%;
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  border-radius: 10px;
}

.opConfig {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  width: 100%;
}

.buttonsConfig {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 100%;
  height: 60px;
}

.containerOption {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  color: black;
  padding: 0.5em;
}

.containerTimer {
  display: flex;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 10px;
}

.time {
  padding: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgb(201, 201, 201);
  border-right: 1px solid rgb(201, 201, 201);
}

.time input {
  text-align: center;
  width: 20px;
  border: none;
  background-color: #fff;
  color: black;
}

.time input::-webkit-outer-spin-button,
.time input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
