.containerOption {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  color: black;
  padding: 0.5em;
}

.containerTimer {
  display: flex;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 10px;
}

.time {
  padding: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgb(201, 201, 201);
  border-right: 1px solid rgb(201, 201, 201);
}

.time input {
  text-align: center;
  width: 20px;
  border: none;
  background-color: #fff;
  color: black;
}

.time input::-webkit-outer-spin-button,
.time input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
